<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src={{url_for('static', filename='helper.js')}}></script>
    
    <link rel="stylesheet" href={{url_for('static', filename='sitewide.css')}}>
    <title>Room</title>
</head>
<body>
    <h1>WELCOME TO THE ROOM</h1>
        <div class='searchDiv'>
            <form action="javascript:", onsubmit="HandleQuery()">
                <input type="search" id="songSearch" name="songSearch">
                <input type="submit">
            </form>
            <div id="resultsDropdown" class="searchResultBubble">
            </div>
        </div>
    <button onclick="Spam()">Send Message</button>
    <ul id="userList">
    </ul>

    <ul id="roomQueue">
    </ul>
    <div id="currentlyPlaying" class=mediaDisplay>
        <div id="currentSongName" class="currentSong">Load up a song DJ...</div>
        <input type="range" class="mediaSeek" id="progressSlider" oninput="scrubMedia(this.value)" onchange="ReleaseScrub(this.value)" onclick="ScrubClick(this.value)">
        <div id="progress"></div>
        <div id="duration"></div>
        <input type="button" onclick="TogglePlayback()">
    </div>
    <div id="backdrop" onclick="DismissOverlay()">
        <div id="overlay" onclick="event.stopPropagation()">
            <div class='popupSubmenu'>
                <h1>Unimplimented</h1>
                <h2>Please start spotify and refresh</h2>
            </div>
            <div class="popupSubmenu">
                <h1>Let's get you started...</h1>
                <h2>All you need is a name</h2>
                <label for="usernameEntry">Username:</label>
                <input type="text" id="usernameEntry">
                <button onclick="EstablishConnection()">Join Room</button>
            </div>
        </div>
    </div>
    <script src={{url_for('static', filename='room.js')}}></script>
</body>
</html>