<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={{url_for('static', filename='helper.js')}}></script>
    <script src={{url_for('static', filename='login.js')}}></script>
    <title>Groupify</title>
</head>
<body>
    <div id="loginDiv">
        <h1>Welcome to Groupify</h1>
        <button onclick="Authorize()">Login</button>
    </div>
    <div id="roomDiv" style="display: none;">
        <h1 id="welcomeText">All set up, hi </h1>
        <button onclick="HostRoom()">Host Room</button>
    </div>
</body>
</html>