<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={{url_for('static', filename='helper.js')}}></script>
    <script src={{url_for('static', filename='room.js')}}></script>
    <link rel="stylesheet" href={{url_for('static', filename='sitewide.css')}}>
    <title>Room</title>
</head>
<body>
    <h1>WELCOME TO THE ROOM</h1>
        <div class='searchDiv'>
            <form action="javascript:", onsubmit="SongSearch()">
                <input type="search" id="songSearch" name="songSearch">
                <input type="submit">
            </form>
            <div id="resultsDropdown" class="searchResultBubble">
                <div><p>content</p></div>
                <div><p>content</p></div>
                <div><p>content</p></div>
            </div>
        </div>
    <button onclick="Spam()">Send Message</button>
    <ul id="userList">
    </ul>
    <div id="backdrop" onclick="DismissOverlay()">
        <div id="overlay">
            <h1>LETS GOOOOOO</h1>
        </div>
    </div>
</body>
</html>