[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=webapp
Group=webapp
WorkingDirectory=/srv/webapp/webapp-app
ExecStart=/srv/webapp/webapp-app/env/bin/gunicorn \
    --bind 127.0.0.1:8080 caller:app

[Install]
WantedBy=multi-user.target